.fragment-wrapper > .section {
  padding-left: 0;
  padding-right: 0;
}

.fragment-wrapper > .section:first-of-type {
  padding-top: 0;
}

.fragment-wrapper > .section:last-of-type {
  padding-bottom: 0;
}

.footer-menu > ul > li {
  position: relative;
}

footer .relation svg {
  display: block;
  width: 37.8px;
  height: 31.3px;
}

.footer-menu {
  margin: 80px auto 100px;
}

footer a {
  text-decoration: none;
  color: var(--talzenna-normal-text-color);
}

.footer-menu a {
  line-height: 30px;
  color: var(--talzenna-normal-text-color);
}

.footer-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 30px;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 40px;
  margin-top: 24px;
}
.footer-menu a,
.footer-menu li {
  font-size: 20px;
  font-weight: bold;
}

.footer-menu ul >li {
  width: 30%;
}

.subUl {
  margin-left: 20px !important;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  row-gap: 21px !important;
}
.subUl li {
  display: flex;
  align-items: center;
  width: 100% !important;
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}
.subUl a {
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
}
.subUl li::before {
  content: '';
  display: block;
  border-color: #207AB6;
  border-style: solid;
  border-width: 2px 2px 0 0;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  margin-right: 8px;
}